#ifndef SIGNALMGR_CFG_INCGUARD
#define SIGNALMGR_CFG_INCGUARD


/*
    Choose the OS to build Signal Manager for
    Supply this paramater via option in compiler  or set it here
*/

#define SIGNALMGR_CFG_RTOS_TIRTOS       1
#define SIGNALMGR_CFG_RTOS_WINDOWS      2
#define SIGNALMGR_CFG_RTOS_QNX          3
#define SIGNALMGR_CFG_RTOS_AUTOSAROS    4
#define SIGNALMGR_CFG_RTOS_UNIX         5
#define SIGNALMGR_CFG_RTOS_FREERTOS     6

#ifndef SIGNALMGR_CFG_RTOS
    #define SIGNALMGR_CFG_RTOS SIGNALMGR_CFG_RTOS_FREERTOS
#endif






/*
These are definitions for basic types like bool_t etc
If the platform already defines it.Include the file in the bottom of this files
If the platform is not defining  set SIGMGR_PLATFORMTYPES as  USE_SIGMGR_PLATFORMTYPEDEFS
*/
#define USE_SIGMGR_PLATFORMTYPEDEFS				1
#define DONOT_USE_SIGMGR_PLATFORMTYPEDEFS	    2

#ifndef SIGMGR_PLATFORMTYPES
    #define SIGMGR_PLATFORMTYPES	USE_SIGMGR_PLATFORMTYPEDEFS
#endif



//#define SUPPRESS_IPCCALLS_IPCNOTINTEGRATED
//#define SIGNALMGR_TESTENABLED

// Include Platform type definitions here if needed

#endif
