<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.qnx.tools.ide.qde.targetAppLaunch">
    <intAttribute key="com.qnx.tools.ide.qde.core.NUM_ENV_VARS" value="0"/>
    <booleanAttribute key="com.qnx.tools.ide.qde.core.TARGET_APP_CREATE_CONSOLE" value="true"/>
    <stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_ATTR" value="---"/>
    <stringAttribute key="com.qnx.tools.ide.qde.core.TARGET_DONTUSE_PTY" value="pickaptyforme"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_ARGUMENTS" value=""/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="/tmp/puc_app.out"/>
</launchConfiguration>
