[Unit]
Description="ED Test server"
After=systemd-modules-load.service

[Service]
Restart=always
RestartSec=1
ExecStart=/opt/vision_apps/edt_server.out &

[Install]
WantedBy=multi-user.target
