/* Wait time in FBL after abnormal shutdown */
#define FBL_DIAG_BOOT_TIMOUT_COUNTER   25

/* Flash erased detection, skip erase process if logical block is already erased */
#define FBL_ENABLE_FLASH_ERASED_DETECTION

/* Number of invalid security access attempts */
/* Default is one single false attempt, see CS.00099, RQMT9.3.3-3 */
#define kSecMaxInvalidKeys 1u

/* Number of bytes in dummy EEPROM / NVM */
#define EEP_BUFFER_SIZE 0x1000u


/* FlexNVM: Flash sector number for certificate backup */
#define BACKUP_SECTOR_NO               18u

/* Settings for boot manager */

/* Configuration has BootManager */
#define FBL_BM_ENABLE_BOOTMANAGER

#if defined( FBL_BM_ENABLE_BOOTMANAGER )
/* Prototype of startup code */
extern void _START(void);
# define FBL_STARTUP_ADDR _START

/* Bootmanager performs (part-)verification of FBL */
# define FBL_BM_DISABLE_VERIFICATION

# define FBL_BM_FblBmInfoHdrAddr        0xA00041C8u
# define FBL_BM_FblPresPatternAddress   0x1FE00u
# define FBL_BM_FblMagicFlag            0x12345678u

/* Appl settings */
# define FBL_BM_ApplBmInfoHdrAddr       0xA0040380u
# define FBL_BM_ApplMagicFlag           0x87654321u
# define FBL_BM_UpdMagicFlag            0xABDCEF12u
# define APPL_STARTUP_ADDR              _START

#endif /* FBL_BM_ENABLE_BOOTMANAGER */ 

#define FBL_ENABLE_VECTOR_HW
#define FBL_RESET_ENTRY_LABEL brsStartupEntry

#define FBL_MIO_DISABLE_SEGMENT_CACHING

#define FBL_BM_HEADER_ADDRESS 0x2801E0
